numpy>=2.2.4
scikit-learn>=1.6.1
pytest>=8.3.5
requests>=2.32.3
torch>=2.6.0
constrained-sdd>=0.1.6
wmipa @ git+https://github.com/LeanderK/wmi-pa.git@405ee9a0d88d8c1014da327aca68297c6f716c9e
networkx
sympy>=1.13
PySMT>=0.9.6.dev53
frozendict
tqdm
package_root
jupyterlab
matplotlib